/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilização do corpo da página */
body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

h1 {
  text-align: center;
  border: 2px solid rgb(21, 21, 74);
  border-radius: 10px;
  padding: 30px;
}

h2 {
  margin-top: 35px;
  padding: 20px;
  display: block;
}
.card-cidades {
  margin-top: 35px;
  padding: 30px;
  width: 90%;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-cidades *{
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

button {
  background-color: #828282;
  border-radius: 20px;
  width: 220px;
  height: 50px;
  border: none;
  margin: 30px 0 30px 0;
}

button:hover {
  background-color: #a9a9a9;
  cursor: pointer;
}
